[submodule "vendor/Adafruit_Python_ILI9341"]
	path = vendor/Adafruit_Python_ILI9341
	url = https://github.com/adafruit/Adafruit_Python_ILI9341
[submodule "vendor/ili9341_SPI_Touchscreen_LCD_Raspberry-Pi"]
	path = vendor/ili9341_SPI_Touchscreen_LCD_Raspberry-Pi
	url = https://github.com/BehindTheSciences/ili9341_SPI_Touchscreen_LCD_Raspberry-Pi
[submodule "vendor/py-spidev"]
	path = vendor/py-spidev
	url = https://github.com/doceme/py-spidev.git
[submodule "vendor/Python-RPi-MCP4922"]
	path = vendor/Python-RPi-MCP4922
	url = http://github.com/mrwunderbar666/Python-RPi-MCP4922
[submodule "vendor/MFRC522-python"]
	path = vendor/MFRC522-python
	url = https://github.com/mikalstill/MFRC522-python
	branch = master
[submodule "vendor/pi-rc522"]
	path = vendor/pi-rc522
	url = https://github.com/ondryaso/pi-rc522
