<html>
  <head>
    <title>Create badges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    You are logged in as {{username}}. <a href="/logout">Log out</a>.

    <br/><br/>
    
    <b>Error!</b>

    <br/><br/>
    
    {{error}}

    <br/><br/>

    <i>Generated at {{timestamp}}.</i>
  </body>
</html>
