<html>
  <head>
    <title>Login</title>
  </head>
  <body>

    <font color=red>{{message}}</font>

    <br/><br/>
    
<form action="/login" method="post">
  Username:<br>
  <input type="text" name="username" value="">
  <br>
  Password:<br>
  <input type="password" name="password" value="Mouse">
  <br><br>
  <input type="submit" value="Login">
</form>

  </body>
</html>
