<html>
  <head>
    <title>Enter manual event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
<form action="/manualevent" method="post">
  Person:<br>
  <input type="text" name="person" value="">
  <br>
  Location:<br>
  <input type="text" name="location" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>

  </body>
</html>
