<html>
  <head>
    <title>On duty report</title>
    <meta http-equiv="refresh" content="30">
  </head>
  <body>
    You are logged in as {{username}}.

    <br/>

    Filter: <a href="/">all</a>; 
    {%- for status in statuses|sort %}
    <a href="/?filter={{status}}">{{status}}</a>;
    {%- endfor %}

    <br/><br/>

    {%- for grouping in groups|sort(attribute='name') %}
    <b>{{grouping.name}}</b>
    <ul>
      {%- for member in grouping.members %}
      <li><img src="/local/{{member.location}}.png" title="{{member.location}}"> <a href="/eventlog?filter={{member.name}}">{{member.name}}</a>
	{%- endfor %}
    </ul>
    {%- endfor %}

    <br/><br/>

    <i>Generated at {{timestamp}}.</i>
  </body>
</html>
