<html>
  <head>
    <title>On duty report</title>
    <meta http-equiv="refresh" content="30">
  </head>
  <body>
    {%- for grouping in groups %}
    <b>{{grouping.name}}</b>
    <ul>
      {%- for member in grouping.members %}
      <li><img src="/local/{{member.location}}.png" title="{{member.location}}"> {{member.name}}
	{%- endfor %}
    </ul>
    {%- endfor %}

    <br/><br/>

    <i>Generated at {{timestamp}}.</i>
  </body>
</html>
